html{
    max-height: 100vh;
    overflow: hidden;
}
body{
    background-color: rgb(164, 164, 164);
    font-family: sans-serif;
}
.title{
    text-align: center;
    background: linear-gradient(to left,#d200af, #013faa);/*  #d200af, #013faa*/
    /*background: linear-gradient(90deg, #6413de,#de0f80,#d98068); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    filter: saturate(200%); /* new*/
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main{
    background-color: rgba(255, 255, 255,0.9);
    width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 180px;
}
.top{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 60px;
    flex-wrap: wrap;
}
.top div{
    height: 90px;
    width: 180px;
}
.inputs{
    width: 120px;
    height: 50px;
    margin-right: 45px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,0.9);
    border: 1px solid;
    border-color: rgba(62, 61, 61, 0.3);
    text-indent: 15px;
    font-size: 1.3rem;
}
.inputs:focus{
    outline: none;
    border: 2px solid rgba(31, 31, 31, 0.6)
}
.labels{
    display: inline-block;
    margin-bottom:7px;
}
.hr{
    width: 500px;
    position: relative;
    top:20px;
    left: -50px;
    border-color: rgba(62, 61, 61, 0.3);
}
.calculate{
    width: 100px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid rgba(62, 61, 61, 0.3);
    position: relative;
    left: 560px;
    top: 47px;
    background-color: rgb(156, 0, 138);
    color: rgb(255, 254, 254);
    transition: all 0.3s;
}
.calculate:hover{
    background-color: rgba(209, 3, 188, 0.7);
    box-shadow: 5px 5px  10px rgb(51, 51, 51);
    color: rgb(19, 34, 173)
}

.bottom{
    padding-left: 70px;
    padding-top: 20px;
    font-size: 1.7rem;
    display: inline-block;
    height: 300px;
}
.bottom h1{
    display: inline-block;
}
.dash{
    color: purple;
    font-size: 5rem;
    position: relative;
    top: 10px;
}
.years{
    position: relative;
    top: -50px;
    display: inline-block;
}
.months{
    position: relative;
    top: -120px;
    
}
.days{
    position: relative;
    top: -170px;
}